
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Output folder
out/
*.xlsx
*.csv

# PDF temporales o muestras
*.pdf

# Logs
*.log

# Entornos virtuales
.venv/
env/
venv/

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Archivos de VS Code (opcional)
.vscode/

# Archivos PowerShell si no los quieres en Git
scan.ps1
